*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
#cards{
    border: 1px solid red;
    height: auto;
}
.cards1{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.logo img{
    width: 90%;
}
@media (max-width:690px) {
    .cards1{
        display:block;


    }

    
}
